doctype html
html(lang=siteConfig.lang)
  head
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(charset='UTF-8')
    meta(name='viewport', content='user-scalable=yes, width=device-width, initial-scale=1, maximum-scale=5')
    meta(name='theme-color', content='#1976d2')
    meta(name='msapplication-TileColor', content='#1976d2')
    meta(name='msapplication-TileImage', content='/_assets/favicons/mstile-150x150.png')

    title= pageMeta.title + ' | ' + config.title

    //- SEO / OpenGraph
    meta(name='description', content=pageMeta.description)
    meta(property='og:title', content=pageMeta.title)
    meta(property='og:type', content='website')
    meta(property='og:description', content=pageMeta.description)
    meta(property='og:image', content=pageMeta.image)
    meta(property='og:url', content=pageMeta.url)
    meta(property='og:site_name', content=config.title)

    //- Favicon
    link(rel='apple-touch-icon', sizes='180x180', href='/_assets/favicons/apple-touch-icon.png')
    link(rel='icon', type='image/png', sizes='192x192', href='/_assets/favicons/android-chrome-192x192.png')
    link(rel='icon', type='image/png', sizes='32x32', href='/_assets/favicons/favicon-32x32.png')
    link(rel='icon', type='image/png', sizes='16x16', href='/_assets/favicons/favicon-16x16.png')
    link(rel='mask-icon', href='/_assets/favicons/safari-pinned-tab.svg', color='#1976d2')
    link(rel='manifest', href='/_assets/manifest.json')

    //- Site Properties
    script.
      var siteConfig = !{JSON.stringify(siteConfig)}
      var siteLangs = !{JSON.stringify(langs)}

    //- Dev Mode Warning
    if devMode
      script.
        siteConfig.devMode = true

    //- Icon Set
    if config.theming.iconset === 'fa'
      link(
        type='text/css'
        rel='stylesheet'
        href='https://use.fontawesome.com/releases/v5.10.0/css/all.css'
        )
    else if config.theming.iconset === 'fa4'
      link(
        type='text/css'
        rel='stylesheet'
        href='https://cdn.jsdelivr.net/npm/font-awesome@4.7.0/css/font-awesome.min.css'
        )

    //- CSS
    
      
    link(
      type='text/css'
      rel='stylesheet'
      href='/_assets/css/app.3faf3def5b1f890b8592.css'
    )
      
    

    //- JS
    
      
    script(
      type='text/javascript'
      src='/_assets/js/runtime.js?1600047985'
      )
      
    
      
    script(
      type='text/javascript'
      src='/_assets/js/app.js?1600047985'
      )
      
    

    != analyticsCode.head

    block head

  body
    != analyticsCode.bodyStart
    block body
    != analyticsCode.bodyEnd
