doctype html
html
  head
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(charset='UTF-8')
    meta(name='viewport', content='user-scalable=yes, width=device-width, initial-scale=1, maximum-scale=5')
    meta(name='theme-color', content='#1976d2')
    meta(name='msapplication-TileColor', content='#1976d2')
    meta(name='msapplication-TileImage', content='/_assets/favicons/mstile-150x150.png')
    title Wiki.js Setup

    //- Favicon
    link(rel='apple-touch-icon', sizes='180x180', href='/_assets/favicons/apple-touch-icon.png')
    link(rel='icon', type='image/png', sizes='192x192', href='/_assets/favicons/android-chrome-192x192.png')
    link(rel='icon', type='image/png', sizes='32x32', href='/_assets/favicons/favicon-32x32.png')
    link(rel='icon', type='image/png', sizes='16x16', href='/_assets/favicons/favicon-16x16.png')
    link(rel='mask-icon', href='/_assets/favicons/safari-pinned-tab.svg', color='#1976d2')
    link(rel='manifest', href='/_assets/manifest.json')

    //- Site Lang
    script.
      var siteConfig = !{JSON.stringify({ title: config.title })}

    //- Dev Mode Warning
    if devMode
      script.
        siteConfig.devMode = true

    //- CSS
    
    link(
      type='text/css'
      rel='stylesheet'
      href='/_assets/css/setup.74ea74edbb70383a16f9.css'
    )
    

    //- JS
    
    script(
      type='text/javascript'
      src='/_assets/js/runtime.js?1600047985'
      )
    
    script(
      type='text/javascript'
      src='/_assets/js/setup.js?1600047985'
      )
    

  body
    #root
      setup(telemetry-id=telemetryClientID, wiki-version=packageObj.version)
